ProjectIndieGame/Library/
ProjectIndieGame/Packages/
ProjectIndieGame/obj/
ProjectIndieGame/.vs/
ProjectIndieGame/Temp/
Build/Mono/EmbedRuntime/mono.dll
Build/Mono/EmbedRuntime/MonoPosixHelper.dll
Build/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Build/Mono/etc/mono/1.0/machine.config
Build/Mono/etc/mono/2.0/Browsers/Compat.browser
Build/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Build/Mono/etc/mono/2.0/machine.config
Build/Mono/etc/mono/2.0/settings.map
Build/Mono/etc/mono/2.0/web.config
Build/Mono/etc/mono/mconfig/config.xml
Build/Mono/etc/mono/browscap.ini
Build/Mono/etc/mono/config
Build/ProjectIndieGame_Data/Managed/Assembly-CSharp.dll
Build/ProjectIndieGame_Data/Managed/Assembly-CSharp-firstpass.dll
Build/ProjectIndieGame_Data/Managed/Mono.Security.dll
Build/ProjectIndieGame_Data/Managed/mscorlib.dll
Build/ProjectIndieGame_Data/Managed/System.Core.dll
Build/ProjectIndieGame_Data/Managed/System.dll
Build/ProjectIndieGame_Data/Managed/Unity.TextMeshPro.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AccessibilityModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AccessibilityModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.AIModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AIModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.AnimationModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AnimationModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ARModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ARModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.AssetBundleModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AssetBundleModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.AudioModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.AudioModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.BaselibModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.BaselibModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClothModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClothModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.CloudWebServicesModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.CloudWebServicesModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClusterInputModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClusterInputModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClusterRendererModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ClusterRendererModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.CoreModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.CoreModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.CrashReportingModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.CrashReportingModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.DirectorModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.DirectorModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.FacebookModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.FacebookModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.FileSystemHttpModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.FileSystemHttpModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.GameCenterModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.GameCenterModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.GridModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.GridModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.HotReloadModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.HotReloadModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ImageConversionModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ImageConversionModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.IMGUIModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.IMGUIModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.InputModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.InputModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.JSONSerializeModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.JSONSerializeModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.LocalizationModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.LocalizationModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.Networking.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ParticlesLegacyModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ParticleSystemModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ParticleSystemModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.PerformanceReportingModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.PerformanceReportingModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.Physics2DModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.Physics2DModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.PhysicsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.PhysicsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ProfilerModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ProfilerModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.ScreenCaptureModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.ScreenCaptureModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.SharedInternalsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.SharedInternalsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.SpatialTracking.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.SpriteMaskModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.SpriteMaskModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.SpriteShapeModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.SpriteShapeModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.StreamingModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.StreamingModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.StyleSheetsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.StyleSheetsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.SubstanceModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.SubstanceModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.TerrainModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TerrainModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TerrainPhysicsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.TextRenderingModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TextRenderingModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.TilemapModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TilemapModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.Timeline.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TimelineModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TimelineModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.TLSModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.TLSModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UI.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UIElementsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UIElementsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UIModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UIModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UmbraModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UmbraModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UNETModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UNETModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityAnalyticsModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityConnectModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityConnectModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.VehiclesModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.VehiclesModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.VideoModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.VideoModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.VRModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.VRModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.WindModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.WindModule.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.xml
Build/ProjectIndieGame_Data/Managed/UnityEngine.XRModule.dll
Build/ProjectIndieGame_Data/Managed/UnityEngine.XRModule.xml
Build/ProjectIndieGame_Data/Plugins/fmodstudio.dll
Build/ProjectIndieGame_Data/Plugins/fmodstudiol.dll
Build/ProjectIndieGame_Data/Plugins/gvraudio.dll
Build/ProjectIndieGame_Data/Plugins/resonanceaudio.dll
Build/ProjectIndieGame_Data/Resources/unity default resources
Build/ProjectIndieGame_Data/Resources/unity_builtin_extra
Build/ProjectIndieGame_Data/StreamingAssets/Master Bank.bank
Build/ProjectIndieGame_Data/StreamingAssets/Master Bank.strings.bank
Build/ProjectIndieGame_Data/app.info
Build/ProjectIndieGame_Data/boot.config
Build/ProjectIndieGame_Data/globalgamemanagers
Build/ProjectIndieGame_Data/globalgamemanagers.assets
Build/ProjectIndieGame_Data/level0
Build/ProjectIndieGame_Data/level1
Build/ProjectIndieGame_Data/resources.assets
Build/ProjectIndieGame_Data/resources.assets.resS
Build/ProjectIndieGame_Data/sharedassets0.assets
Build/ProjectIndieGame_Data/sharedassets0.assets.resS
Build/ProjectIndieGame_Data/sharedassets0.resource
Build/ProjectIndieGame_Data/sharedassets1.assets
Build/ProjectIndieGame_Data/sharedassets1.assets.resS
Build/ProjectIndieGame.exe
Build/UnityCrashHandler64.exe
Build/UnityPlayer.dll
